<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.blog.repository.ReplyRepository">



    <!--해당 blog id에 남겨진 reply 모두 조회-->
    <select id="findAllReplyByBlogId" resultType="com.spring.blog.web.dto.reply.ReplyResponseDTO" parameterType="long">
        SELECT
            reply_id as replyId,
            reply_writer as replyWriter,
            reply_Content as replyContent,
            published_at as publishedAt,
            updated_at as updatedAt
        FROM
            Reply
        WHERE
            blog_id = #{blogId}
        ORDER BY
            reply_id DESC
    </select>

    <!--하나의 댓글만 조회-->
    <select id="findByReplyId" resultType="com.spring.blog.web.dto.reply.ReplyResponseDTO" parameterType="int">
        SELECT
            reply_id as replyId,
            reply_writer as replyWriter,
            reply_Content as replyContent,
            published_at as publishedAt,
            updated_at as updatedAt
        FROM
            Reply
        WHERE
            reply_id = #{replyId}
        ORDER BY
            reply_id DESC
    </select>

    <insert id="save" parameterType="com.spring.blog.web.dto.reply.ReplyCreateRequestDTO">
        INSERT INTO
            reply (blog_id, reply_writer, reply_content)
        VALUES
            (#{blogId}, #{replyWriter}, #{replyContent})
    </insert>

    <delete id="deleteByReplyId" parameterType="int">
        DELETE FROM
            reply
        WHERE
            reply_id = #{replyId}
    </delete>
    
    <update id="update" parameterType="com.spring.blog.web.dto.reply.ReplyUpdateRequestDTO">
        UPDATE
            reply
        SET
            reply_writer = #{replyWriter},
            reply_content = #{replyContent},
            updated_at = now()
        WHERE
            reply_id = #{replyId}
    </update>

    <delete id="deleteAllReplyByBlogId" parameterType="long">
        DELETE FROM
            reply
        WHERE
            blog_id = #{blogId}
    </delete>
    
</mapper>